<!-- App Container -->
<div id="app" class="app-container" style="display: none;">
    {% include "navbar.njk" %}

    {% include "main.njk" %}

    {% include "player.njk" %}

    {% include "footer.njk" %}
    
    {% include "notification.njk" %}
<div>